<h2 *ngIf="mock; else elseBlock">Server is down. Using Mock Data.</h2>
<ng-template #elseBlock><h2>Data updated every five minutes</h2></ng-template>
    <div *ngIf="loaded" style="display: block">
      <canvas baseChart
        [labels]="tempLabels"
        [data]="tempData"
        [colors]="colorsUndefined"
        [chartType]="type"
        ></canvas>
    </div>
    <div *ngIf="loaded" style="display: block">
      <canvas baseChart
        [labels]="humLabels"
        [data]="humData"
        [colors]="colorsUndefined"
        [chartType]="type"
        ></canvas>
    </div>